.parallax-a-cabangu {
  /* The image used */
  background-image: url("../img/bg-acabangu-parallax-cabangu.jpg");

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}