span.zap-ico{
    display: inline-block;
    background-image: url(../img/sprid-cabangu.png);
    background-repeat: no-repeat;
    background-position: -79px -483px;
    height: 39px;
    margin-top: 6px;
    width: 39px;
    margin: 0 11px;
  
}
.screen-reader-response[role=alert],.wpcf7-validation-errors[role=alert]{
    color: #721c24;
    background-color: #f8d7da;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;

}
.wpcf7-not-valid-tip{
    color: #721c24;
 
    background-color: #f8d7da;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    margin: 15px;
    position: absolute;
    display: block;
    right: 0;
}
.swiper-container {
    width: 100%;
    height: 660px;
}
.swiper-button-prev, .swiper-button-next{
	display: none !important;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;

    margin: 20px 3px !important;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #95c11e;
    height: 15px;
    width: 15px;
    margin: 20px 0 !important;
}



.swiper-container-vertical>.swiper-pagination-bullets {
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 1200px;
    left: 50%;
    
}

body {
  color:#888888;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  
  background-size: cover;
}


a, a:visited{
cursor: pointer;
    color: #888888;
}
a:hover{
    color: #2e53a1;
    text-decoration: none;
}
i.fa-phone{

    transform: rotate(90deg);
}
.text-bold{
	font-weight: bold;
}
.text-blue{
	color: #2e53a1;
}

.text-green{
	color: #95c11e;
}
.text-gray{
    color: #888888;
}
.text-gray-light{
    color: #b1b1b1;
}
.icone-centro{
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;

}
.icone-centro .centralizado{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}



.bg-gray{
    background-color: #888888;
    color: #fff;
}

.bg-blue{
	background-color: #2e53a1;
	color: #fff;
}

.bg-green{
	background-color: #95c11e;
	color: #fff;
}

.bg-f7{
    background-color: #f7f7f7;
}
.bg-gray-light{
    background-color: #efefef;
}



.btn-green{
	background: #95c11e;
    color: #fff !important;
    padding: 11px 40px !important;
    margin-top: 10px;
    font-size: 19px;
    border-radius: 25px;
    border: none;
    
    transition: padding 250ms ease;
}
section.formulario-fale-conosco form input.btn-green{
	background: #95c11e;
    color: #fff !important;
    padding: 11px 40px !important;
    margin-top: 10px;
    font-size: 19px;
    border-radius: 25px;
    width: 140px;
    float: right;
    
    transition: padding 250ms ease;
}

.btn-green:hover{
    color: #fff !important;
    padding: 13px 42px !important;
    margin-top: 10px;
    font-size: 19px;
    border-radius: 25px;
    outline: none;
    border: none;
}
.btn-green.small{
    background: #95c11e;
    color: #fff !important;
    padding: 6px 20px !important;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 25px;
    
    transition: padding 250ms ease;
}
.btn-green.small:hover{
    color: #fff !important;
    padding: 7px 21px !important;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 25px;
    outline: none;
    border: none;
}
.mt5{
	margin-top: 5px;
}
.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.mt40{
	margin-top: 40px;
}
.mt50{
	margin-top: 50px;
}
.mt100{
	margin-top: 100px;
}
.mt150{
	margin-top: 150px;
}
.mt200{
	margin-top: 200px;
}

.p20{
	padding: 20px;
}
.pl70 {
       padding: 0 0 0 70px;
}
p{
    
	font-family: 'overpass';
}
h1,h2,h3,h4,h5,h6{

	font-family: 'overpass';
    font-weight: 900;
}
h1{
    font-weight: 900;
    font-size: 70px;
    line-height: 60px;
}
h2{
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px !important;
}
section{
	position: relative;
	margin: 0;
	padding: 100px 0;
}
section.sempre-conectado{

	margin: 0;
	padding: 0;
	
    background-position-x: center;
    background-position-y: 5px;
    background-repeat: no-repeat;
}
section.sempre-conectado .col-body{
    font-size: 26px;
}

section.vantangens{
	margin: 0;
}
section.vantangens .col-body{
    font-size: 19px;
}

section.vantangens h2{
    margin-bottom: 50px !important;
}
section.plano-pra-voce{
    margin: 0 !important;
    background-color: #f7f7f7;
}
section.plano-pra-voce h2, section.plano-pra-voce h3{
    padding-bottom: 35px;
    
}
a.btnhalfl, a.btnhalfm, a.btnhalfr{

    color: #fff !important;
    padding: 11px 40px !important;
    font-size: 19px;
    font-weight: 900;
    cursor: pointer;

    margin-bottom: 20px;
}

section.plano-pra-voce .plano:hover{
    border-top:4px solid  #95c11e;
    
    padding: 30px 0 35px;
	zoom: 1.05;
    border-radius: 0;
}
section.plano-pra-voce .plano small{
    
    padding-top: 12px;
}
section.plano-pra-voce .plano{
	margin-top:4px solid  #FFF;
    padding: 35px 0;
    background: #fff;
    border-radius: 10px;
}
a.btnhalfl{
	background: #95c11e;
-webkit-border-top-left-radius: 25px;
-webkit-border-bottom-left-radius: 25px;
-moz-border-radius-topleft: 25px;
-moz-border-radius-bottomleft: 25px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
margin-right: -2px;
} 

a.btnhalfm{

	background: #b1b1b1;
} 
/*tyste*/




a.btnhalfr{

	background: #b1b1b1;
-webkit-border-top-right-radius: 25px;
-webkit-border-bottom-right-radius: 25px;
-moz-border-radius-topright: 25px;
-moz-border-radius-bottomright: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;

    margin-left: -2px;
}


section.fibra-pra-voce{

	margin:  0;
}


section.fibra-pra-voce h2{

	margin:  0 0 35px 0;
}
section.fibra-pra-voce ul.faq{
	list-style: none;
	margin: 0;
	padding: 0;
}
section.fibra-pra-voce ul.faq li{
    border-top: 2px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

section.fibra-pra-voce ul.faq li .pergunta{
    position: relative;
}
section.fibra-pra-voce ul.faq li .pergunta .sinal{
    position: absolute;
    right: 0;
    cursor: pointer;
    font-family: monospace;
    font-size: 30px;
    top: -10px;
}
section.fibra-pra-voce ul.faq li .reposta{
    font-size: 18px;
}


section.melhores-planos{
	margin: 0 0 100px 0;
	padding: 0 0 100px 0;
	background-image: url(../img/bg-planos-cabangu.jpg);
    background-position-x: center;
    background-position-y: 0;
    background-repeat: no-repeat;
}


section.melhores-planos-fibra .plano-interno{

 border: 1px solid #2e53a1;
 border-radius: 10px;
 margin: 0 10px;
 /* padding: 30px 30px 10px 30px; */
 background-color: #fff ;
}

section.melhores-planos-fibra .plano-interno .col-body p{


    font-size: 18px;
}

section.melhores-planos-fibra .plano-interno small.consulte{

    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #b1b1b1;
}

section.melhores-planos-fibra .plano-interno .col-body.detalhes{
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    padding: 20px 30px;
}



section.melhores-planos-fibra h3{

font-size: 22px;
margin-bottom: 55px;



}

section.melhores-planos-fibra .botoes{

    padding: 20px 0 150px;
}

section.melhores-planos-fibra .plano-interno h3{

    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px !important;
}


section.como-podemos-ajudar{
	position: relative;
	margin: 0 0 0 0;
	padding: 100px 0;
}

section.como-podemos-ajudar .fone-ico{
    width: 100px;
    height: 100px;
    background:url('../img/fone.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

section.como-podemos-ajudar .card h3{
    color:#2e53a1;
}

section.como-podemos-ajudar .card:hover h3{
    color:#FFF;
}
section.como-podemos-ajudar .card:hover .fone-ico{
    width: 100px;
    height: 100px;
    background:url('../img/fone-branco.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
section.como-podemos-ajudar .radio-ico{
    width: 100px;
    height: 100px;
    background:url('../img/radio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

section.como-podemos-ajudar .card:hover .radio-ico{
    width: 100px;
    height: 100px;
    background:url('../img/radio-branco.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
section.como-podemos-ajudar .grana-ico{
    width: 100px;
    height: 100px;
    background:url('../img/grana.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    
}


section.como-podemos-ajudar .card:hover .grana-ico{
    width: 100px;
    height: 100px;
    background:url('../img/grana-branco.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
section.como-podemos-ajudar .card{
    padding: 50px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}
section.como-podemos-ajudar .card:hover{
    background-color: #95c11e;
    color:#fff;
    margin-bottom: 1px;
    margin-top: 1px;
    z-index: 9;
}



section.duvidas-frequentes{

	position: relative;
	margin: 0 0 0 0;
	padding: 100px 0;
}
section.duvidas-frequentes ul.faq{
    list-style: none;
}
section.duvidas-frequentes ul.faq li{
    border-top: 2px solid #2e53a1;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #2e53a1;
}
section.duvidas-frequentes ul.faq li .pergunta{
    position: relative;
}


section.duvidas-frequentes ul.faq li .pergunta .sinal{
    position: absolute;
    right: 0;
    cursor: pointer;
    color:#95c11e;
    font-family: monospace;
    font-size: 30px;
    top: -10px;
}
section.duvidas-frequentes ul.faq li .reposta{
    font-size: 18px;
}
section.duvidas-frequentes a, section.duvidas-frequentes a:visited{

    color: #888888;
    font-weight: 200;
    margin: 30px 0;
    display: block;
}
section.duvidas-frequentes a:hover, section.duvidas-frequentes a.active{
    color: #2e53a1;
    font-weight: 900;
    text-decoration: underline;

}

section.contato-suporte{
    

	position: relative;
	margin: 0 0 0 0;
	padding:0 0 100px;

}

section.contato-suporte form{
    
    margin-left: -15px;

}
section.contato-suporte form .submit-suporte{
    
    margin-top: 62px;

}


.iconeverde{
    margin-bottom: 50px;
}

#logo{
    
    padding-bottom: 20px;
}
header{
    top:-120px;
}

header nav{
    
    margin-bottom: 30px;
}

header nav a{
font-family: 'Overpass';
font-weight: 200;

transition: font 250ms ease;
}


header nav a:hover{
    font-family: 'Overpass';
    font-weight: 500;
    }

body.corrigir_altura{
    margin-top: 120px;
}
header.hide{
    
    position: fixed;
    top: -120px;
    background-color: rgba(0,0,0,0);
    opacity: 0;
    transition: top 250ms ease, opacity 350ms ease;
    z-index: 101;
    width: 100%;
}
header.fixed{
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;
    background-color: #FFF;
    padding-bottom: 10px;
    transition: top 250ms ease, opacity 350ms ease;
    opacity: 1;
    
}




header .email-tel{
    background-color:#f4f4f4 !important;
}
header.container-fluid{
    background-color:#f4f4f4 !important;
}

header .email-tel i{
    font-size: 16px;
}

header ul {
    text-decoration: none;
}

header a{
    color: #9d9c9c;
    padding: 11px 9px !important;
    margin-top: 28px;
    font-size: 21px;
}

header a.active{
    color: #2e53a1;
    padding: 11px 9px !important;
    margin-top: 28px;
    font-size: 21px;
    font-weight: 400;
}

header a.btn-mode{
	background: #95c11e;
    color: #fff;
    padding: 11px 40px !important;
    font-size: 19px;
    border-radius: 25px;
    transition: padding 250ms ease;
}
a.btn-mode:hover {
    color: #fff;
    padding: 12px 41px !important;
    font-size: 19px;
    border-radius: 25px;
    outline: none;
    border: none;
}



footer{
    background: #f7f7f7;
 padding: 100px 0;
}


footer a.inline{
    display: inline;
}
footer a{
    color: #888;
    display: block;
    margin-bottom: 30px;
}
footer p{
    font-family: 'overpass';
    font-size: 17px;
    margin-bottom: 40px;
}

footer h5{
    padding-top: 10px;
    margin-bottom: 40px;
}

.whatsapp{
    bottom: 40px;
    right: 40px;
    position: fixed;
    z-index: 999;
}
}

.container {
  max-width: 1200px;
}
.position-logo{
    margin: 0 10px;
}

.div-select {
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 25px;

}
.div-select select{
background: url(../img/setabaixoselect.jpg) no-repeat 455px center #95c11e;
width: 520px; 
height:48px; 
font-family:Arial, Helvetica, sans-serif; 
font-size:18px; 
padding:13px 20px 13px 12px; 
color:#fff; 
text-indent: 0.01px; 
text-overflow: "";  
select::-ms-expand {display: none;};
  
}

section .div-select-fake{
 
position: relative;
cursor: pointer;
background: url(../img/setabaixoselect.jpg) no-repeat 255px center #95c11e;
width: 300px;
height: 48px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
padding: 13px 20px 13px 12px;
color: #fff;
text-indent: 0.01px;
margin: 0 auto;
border-radius: 25px; 
}

section .div-select-fake:hover .options{

    display: block;
}
section .div-select-fake .options{
    position: absolute;
    background-color: #f7f7f7;
    color: #818181;
    top: 48px;
    width: 258px;
    margin: 0px 10px;
    padding: 10px;
    display: none;
}  
section .div-select-fake .options:hover{
    position: absolute;
    background-color: #f7f7f7;
    color: #2e53a1;
    top: 48px;
    width: 258px;
    margin: 0px 10px;
    padding: 10px;
}  

section .div-select-fake .options a {
    display: block; 
}
form{
}

.div-select select option {
    margin: 40px;
    background: #f7f7f7 ;
    color: #b1b1b1 ;
    
}

.div-select select option:hover {
    background-color: #f7f7f7;
    color: #2e53a1 ;
     }  
form{

}
.circulo-de-jogos{
    width: 300px;
    height: 300px;
    position: relative;
    float: right;
    margin-top: 30px;
}
.circulo-de-jogos .circulo-interno2,
.circulo-de-jogos .circulo-interno3,
.circulo-de-jogos .circulo-interno4{
    display: none;
}
.circulo-de-jogos p{
    font-size: 18px;
}
.circulo-de-jogos .circulo-interno1,
.circulo-de-jogos .circulo-interno2,
.circulo-de-jogos .circulo-interno3,
.circulo-de-jogos .circulo-interno4
{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.circulo-de-jogos .top{
    z-index: 9;
    position: absolute;
    top:-70px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 250ms ease;
}
.circulo-de-jogos .botton{
    z-index: 9;
    position: absolute;
    bottom:-76px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 250ms ease;
}
.circulo-de-jogos .left{
    z-index: 9;
    position: absolute;
    left:-89px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 250ms ease;
}
.circulo-de-jogos .right{
    z-index: 9;
    position: absolute;
    right:-97px;
    top: 50%;
    transform: translateY(-50%);
    transition: right 250ms ease;
}

.circulo-de-jogos .top.active{
    top: -90px;
}
.circulo-de-jogos .botton.active{
    bottom:-96px;
}
.circulo-de-jogos .left.active{
    left:-109px;
}
.circulo-de-jogos .right.active{
    right:-105px;
}


.circulo-de-jogos .top a{
    background: url('../img/sprid-cabangu.png') no-repeat center center;
    background-position: -100px -181px;
    width: 80px;
    height: 56px;
    display: block;
}
.circulo-de-jogos .botton a{
    background: url('../img/sprid-cabangu.png') no-repeat center center;
    background-position: -101px -329px;
    width: 82px;
    height: 61px;
    display: block;
}
.circulo-de-jogos .left a{
    background: url('../img/sprid-cabangu.png') no-repeat center center;
    background-position: -87px -399px;
    width: 67px;
    height: 80px;
    display: block;
}
.circulo-de-jogos .right a{
    background: url('../img/sprid-cabangu.png') no-repeat center center;
    background-position: -102px -239px;
    width: 82px;
    height: 80px;
    display: block;
}



.circulo-de-jogos .top a:hover, .circulo-de-jogos .top.active a{
    background: url('../img/sprid-cabangu.png') no-repeat center center;
    background-position: -10px -181px;
}
.circulo-de-jogos .botton a:hover, .circulo-de-jogos .botton.active a{
    background: url('../img/sprid-cabangu.png') no-repeat center center;
    background-position: -10px -329px;
}
.circulo-de-jogos .left a:hover, .circulo-de-jogos .left.active a{
    background: url('../img/sprid-cabangu.png') no-repeat center center;
    background-position: -10px -399px;
}
.circulo-de-jogos .right a:hover, .circulo-de-jogos .right.active a{
    background: url('../img/sprid-cabangu.png') no-repeat center center;
    background-position: -10px -239px;

}
form input{
    background: #dedede;
    border: none;
    width: 100%;
    padding: 5px 10px 0px;
    line-height: 30px;
    margin: 5px 0;
}
.mobile-content{
    display: none;
}

section.a-cabangu{
    margin: 0;
    
 background-color: #f7f7f7 ;
}
section.a-cabangu h1{
	margin: 100px 0 0 0 ;
}

section.desde{
    
 background-color: #FFF ;
}
section.mapa {

    background-color: #f7f7f7 ;
}
section.desde .desde-1996 h1{
    margin-top: 220px;
}
section.desde .overflow{
	overflow: visible;
	z-index: 9;
	position: relative;
}

section.desde .absolute{
	
	position:absolute;
	right: 10px;
}


section.desde .image-1-left{
left: 40px;
z-index: 9;
position: absolute;


}


section.desde .image-2-right{

  margin-left: -100px;
   
  
  }
section.fale-conosco {
    margin:  0;
    padding: 0;
  	background-image: url("../img/bg-contato-cabangu.jpg");
    background-position-x: center;
    background-position-y: 5px;
    background-repeat: no-repeat;
    font-family: 'Overpass'; 
    position: relative;
    background-color: #f0f0f0;
}

section.fale-conosco .header-envie-sua-duvida{
    margin: 100px 0 ;
}
.seta-absolut{
	position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 9;
    bottom: 0;
}


section.formulario-fale-conosco  h1{
      
    margin:  0 0 75px 0;
    }


section.formulario-fale-conosco p{
    font-family: 'Overpass'; 
    margin:  0 0 45px 0;
}

section.formulario-fale-conosco .card{
    border-radius: 10px;
    padding: 50px 85px;
}
section.formulario-fale-conosco form {
    margin:  0;
}
section.formulario-fale-conosco form input::placeholder, section.formulario-fale-conosco form textarea::placeholder{
    font-family: 'Overpass'; 
	color:#b1b1b1;
}
section.formulario-fale-conosco form input {
    background: #FFF;
    border-radius: 5px;
    margin-bottom: 10px ;
    color: #919191;
    padding: 5px;
    font-size: 20px;
}
.relative{
	position:relative;
}

.absolute{
	position:absolute;
}

.linha-tracejada{

    position: absolute;
    border-bottom: 3px dashed #666;
    top: 50px;
    width: 500px;
      left: 50%;
    transform: translate(-50%, 50%);
}
.flex{
	display: flex;
}
.circulo{
    border-radius: 50%;
    padding: 28px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Overpass';
    width: 100px;
    height: 100px;
    display: inline-block;
}
section.formulario-fale-conosco form textarea {
    background: #FFF;
    width: 100%;
    min-height: 300px;
    border-radius: 5px;
    margin: 5px 8px;
    padding: 5px;
}

section.faixa-fale-conosco {
    padding: 50px;
    margin: 0;
}
section.faixa-fale-conosco .lado-dir{
    border-right: 1px solid #fff;    padding-right: 100px;

}
section.faixa-fale-conosco .lado-esq{
    border-left: 1px solid #fff;    padding-left: 100px;

}
section.termos-de-contratacao{
    margin: 0;
    padding: 40px 0 100px 0 ;
    position: relative;

}
section.termos-de-contratacao-formulario{
   background-color: #efefef;
    padding: 20px 0 0 0 ;

}
section.termos-de-contratacao-formulario .wpcf7-form-control-wrap{
   flex: 1;
}
section.termos-de-contratacao-formulario .wpcf7{
   width:100%;
}
section.termos-de-contratacao-formulario form label, section.termos-de-contratacao-formulario form input, section.termos-de-contratacao-formulario form textarea {
   float: left;
    font-family: 'Overpass';
    padding: 5px 10px;
    height: 30px;
    font-size: 16px;

}

section.termos-de-contratacao-formulario .card{
	padding: 100px 50px;
	border-radius: 10px;
	border: none;
}
section.termos-de-contratacao-formulario form{
    width: 100%;
    display: flex;

}
section.termos-de-contratacao-formulario form .label{
	padding: 10px;
   color: #b1b1b1;
}
 section.termos-de-contratacao-formulario form input, section.termos-de-contratacao-formulario form textarea {

   color: #b1b1b1;
   background-color: #efefef;
 }

 section.termos-de-contratacao-formulario form .div-select {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 0 !important;

}
section.termos-de-contratacao-formulario form .div-select select{
    background: url(../img/setabaixoselect2.png) no-repeat #efefef;
    background-position-x: calc(100% - 80px);
    background-position-y: 10px;
    float: left;
    font-family: 'Overpass';
    padding: 5px 10px;
    height: 30px;
    width: 120%;
    font-size: 16px;
    padding: 5px 20px 5px 10px;
    color: #b1b1b1;
    text-indent: 0.01px;
    text-overflow: "";
    border: none;
    outline: none;
    select::-ms-expand {display: none;};
    border: none;
    margin-top: 4px;
  
}

section.termos-de-contratacao-formulario .checkplano {
	display: flex;
    margin: 5px 0;
}
section.termos-de-contratacao-formulario .checkplano .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
section.termos-de-contratacao-formulario .checkplano .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
section.termos-de-contratacao-formulario .checkplano .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
section.termos-de-contratacao-formulario .checkplano .container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
section.termos-de-contratacao-formulario .checkplano .container input:checked ~ .checkmark {
    background-color: #888;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
section.termos-de-contratacao-formulario .checkplano .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
section.termos-de-contratacao-formulario .checkplano .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
section.termos-de-contratacao-formulario .checkplano .container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

section.baixe-agora{
	padding: 0;
    margin: 0; 
    

}

.especial-padding{
    padding:0 60px
}
.navbar.mobile-content{
    display: none;
}

header{
    display: block;
}
@media (max-width: 768px) {

    .logo-img.normal{
        background: url('../img/logo.png') no-repeat;  
        transition: background 250ms ease;
        width: 170px;
        height: 40px;
        display: block;
        background-size: 170px;
    }

    .logo-img.branco{
        background: url('../img/Logo_Menu_Mobile.png') no-repeat;  
  
        transition: background 250ms ease;
        width: 170px;
        height: 30px;
        display: block;
        background-size: 170px;
    }

    
    .ico-menu.hamb{
        background: url('../img/menu-mobile.png');  
        transition: background 250ms ease;
        width: 40px;
        height: 30px;
        display: block;
    }

    .ico-menu.fechar{
        background: url('../img/fechar_menu_mobile.png');
        transition: background 250ms ease;
    
        width: 32px;
        height: 32px;
        display: block;
    }
    .menu-open h5{

        font-weight: 100;
    }
    .menu-open{
        background-color: #2e53a1 !important;        
        transition: background-color 250ms ease;
        
        height: 100%;
    }
    .rede-social{
        position: absolute;
        bottom: 50px;
        left: 40px;
    }
    li.nav-item {
        margin: 20px;
    }
    li.nav-item a.btn-mode{
        background: #95c11e;
        color: #fff;
        padding: 11px 40px !important;
        font-size: 19px;
        border-radius: 25px;
        transition: padding 250ms ease;    
    }
    .menu-open .nav-item a{
        color: #fff !important;   
        transition: color 250ms ease;
        font-weight: 900 !important;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

        text-align: center;
    }
    a.btnhalfl, a.btnhalfm, a.btnhalfr {
        color: #fff !important;
        padding: 10px 10px !important;
        font-size: 19px;
        font-weight: 900;
        cursor: pointer;
        margin-bottom: 20px;
    }
    .btn-green.small{
        display: inline-block;
    }
    .especial-padding{
        padding:0 30px
    }
    .text-center-mobile{
        text-align: center !important;
    }
    section.fale-conosco {
        margin: 0px;
        padding: 50px 0;

    }
    section.termos-de-contratacao-formulario form .div-select select {
        background: url(../img/setabaixoselect2.png) no-repeat #efefef;
        background-position-x: calc(100% - 80px);
        background-position-y: 10px;
        float: left;
        font-family: 'Overpass';
        padding: 5px 10px;
        height: 30px;
        width: 125%;
        font-size: 16px;
        padding: 5px 20px 5px 10px;
        margin-top: 4px;
        margin-left: 8px;
    }
    section.como-podemos-ajudar .radio-ico,section.como-podemos-ajudar .grana-ico,section.como-podemos-ajudar .fone-ico {

        transform: translate(-50%, -50%);
    }

    section.mapa img{
        width: 100%;
    }



    section.desde img{
        position: initial;
        width: 100% !important;
    }
    form input {
        background: #dedede;
        border: none;
        width: 100%;
        padding: 5px 10px 0px;
        line-height: 30px;
        margin: 5px 8px;
    }
    .navbar.mobile-content{
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        z-index: 9999;
        display: block;
        
    }
    .navbar-brand img{
        width: 130px;
    }
    .fa-1x {
       font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
        cursor: pointer;
        float: right;
        border: none; 
        outline: none;
        margin-top: 5px;
    
    }
    .dark-blue-text {
    color: #2e53a1;
    }
    section.duvidas-frequentes ul.faq {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 0;
    }
    .wc_whatsapp_app.right {
        right: -15px;
        
        transform: scale(0.6);



    }
    .desktop{
        display:none;
    }
    header{
        display: none;
    }
    section.plano-pra-voce .plano {
        padding: 35px 0;
        background: #fff;
        border-radius: 10px;
        height: 250px;
    }
    .swiper-container2,    .swiper-container3 {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        width: 100%;
        height: 370px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 20px !important;
        display: inline-block;
    }
    .mobile-content{
        display: block;
    }

    body{
        
    width: 100%;

    }
    html {
      font-size: 16px;
    }
  
    section{
        text-align: center;
    }
    section.fibra-pra-voce ul.faq{
        margin-top: 100px;
        
    }
    a.btn{
        margin-left: auto !important;
        margin: 0 auto;
        display: block;
      text-align: center;
    }
    section.plano-pra-voce .plano-ativo {
      border-top: 4px solid #95c11e;
  
      zoom: 1;
    }

    .pl70 {
        padding: 0 0 0 0;
    
    }
    .swiper-container{
        display: none;
    }
    footer{
        text-align: center;
    }
    footer p{
        font-family: 'overpass';
        font-size: 17px;
    }
    .email-tel{
        text-align: center !important;
    }

    .circulo-de-jogos{
        width: 200px;
        height: 200px;
        position: relative;
        margin: 80px auto 0;
        float: none;
    }

    .circulo-de-jogos p{
        font-size: 14px;
    }

    .circulo-de-jogos h4{
        font: 16px !important;
    }
    
    .circulo-de-jogos .left a ,
    .circulo-de-jogos .right a ,
    .circulo-de-jogos .top a ,
    .circulo-de-jogos .botton a {
        
        background-size: auto !important;
        transform: scale(0.7);
    }
    
.circulo-de-jogos .top{
    top:-50px;
}
.circulo-de-jogos .botton{
    bottom:-56px;
}
.circulo-de-jogos .left{
    left:-69px;
}
.circulo-de-jogos .right{
    right:-77px;
}

.circulo-de-jogos .top.active{
    top: -70px;
}
.circulo-de-jogos .botton.active{
    bottom:-76px;
}
.circulo-de-jogos .left.active{
    left:-89px;
}
.circulo-de-jogos .right.active{
    right:-85px;
}






.circulo-de-jogos .circulo-interno1,
.circulo-de-jogos .circulo-interno2,
.circulo-de-jogos .circulo-interno3,
.circulo-de-jogos .circulo-interno4
{

    padding: 30px;

}


html{
    width: 100%;
}

h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
}
section.desde .image-1-left {
    position: initial;
}

section.desde .image-2-right{

    margin-left: -0;
    
    
    }
    .seta-absolut {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 9;
        bottom: 0px;
    }
    section.desde {
        margin: 0;
    }
    
    .formulario-fale-conosco h1, section.desde .desde-1996 h1{
    margin-top: 50px;
}

section.a-cabangu h1{
	margin: 50px 0 0 0 ;
}

section.faixa-fale-conosco {
    padding: 20px;
    margin: 0;
}
section.faixa-fale-conosco .lado-esq ,section.faixa-fale-conosco .lado-dir{
    border-right: none;
    border-left: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
}
  }