
.wc_whatsapp_app {
position: absolute;
bottom: 0px;
z-index: 9999999999; /*Força o widget ficar acima de qualquer elemento*/
display: flex;
align-items: center;
}

.wc_whatsapp_app.left {
left: 15px;
}

.wc_whatsapp_app.right {
right: 15px;
}


.wc_whatsapp {
    width: 100px;
    height: 100px;
  display: block;
  border-radius: 50%;
  background: #fff;
  
box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.3);
}



.wc_whatsapp::before {
  content: "";
  display: block;
  background-image: url("../img/sprid-cabangu.png");

  background-repeat: no-repeat;
  background-position: -10px -483px;
  height: 62px;
  margin-top: 6px;
  width: 59px;
  margin: 20px;

}

.wc_whatsapp p {
font-family: 'Arial', sans-serif;

}

.wc_whatsapp_primary {
}

.wc_whatsapp_primary {
  border-radius: 5px;
  padding: 10px;
  bottom: 70px;
  align-items: center;
  max-width: 450px;
  position: absolute;
  width: 450px;
  right: 110px;
  top: -10px;

}


.wc_whatsapp_primary p {

background: #fff;
margin: 20px;
padding: 10px;
border-radius: 5px;
position: relative;
color: #888;
font-size: 17px;

box-shadow: 1px 2px 2px 2px #e0e0e0
}

.wc_whatsapp_primary p::after {
  right: -5px;
  content: '';
  position: absolute;
  /* border-bottom: 1px solid #e2e2e2; */
  /* border-right: 1px solid #e2e2e2; */
  top: 50%;
  margin-top: -4px;
  width: 10px;
  height: 10px;
  z-index: 0;
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background: white;
  box-shadow: -3px -3px 1px 0px rgba(220, 220, 220, 0.7); 
}

.wc_whatsapp_primary .close {
position: absolute;
right: 10px;
top: 10px;
font-size: 14px;
color: #000;
opacity: .5;
}

.wc_whatsapp_primary .close:hover,
.wc_whatsapp_primary .close:focus {
color: #f00;
opacity: 1;
}